# Dependencies
node_modules
.pnpm

# Next.js
.next
out

# Environment files
.env
.env.local
.env.production
.env.development

# Debug files
npm-debug.log*
pnpm-debug.log*
yarn-debug.log*
yarn-error.log*

# OS
.DS_Store
*.pem

# Vercel
.vercel

# TypeScript
*.tsbuildinfo

# Git
.git
.gitignore

# Docker
Dockerfile
.dockerignore

# IDE
.vscode
.idea

# Testing
coverage
.nyc_output

# Misc
README.md
